<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}"/>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top shadow-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">uTech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/main_admin">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/addresses">Addresses
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/employees">Employees
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/clients">Clients Information
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/products">Products Information
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/shop_information">Company Information
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <form method="post" th:action="@{/index}">
                    <button class="btn btn-primary"  onclick="successfullyLogout()" value="Sign Out">Logout</button>
                </form>

            </ul>
        </div>
    </div>
</nav>

<div class="container bg-light p-4 mt-5 shadow mb-5 border-2">
    <div class="row">

        <div class="col-md-12 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group text-center ml-auto mr-auto">
                    <label style="font-size:30px" th:inline="text">Welcome <a
                            style="color:lightskyblue; text-transform:capitalize"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
                        to the main page!</label>
                    <!--<div style="font-size:20px">If you want to logout, click "Logout" button under this text.</div>-->
                </div>

                <!--<button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout
                </button>-->
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 text-center ml-auto mr-auto p-5">
            <span class="font-weight-bold">Administration options</span>
            <table>
                <tr>
                    <th>
                        Show:
                    </th>
                    <td>
                        <a class="nav-link" href="/addresses">Addresses
                            <span class="sr-only">(current)</span></br>
                            <img src="images/icons/main_admin/home.png" class="icon-height">
                        </a>
                    </td>
                    <td>
                        <a class="nav-link" href="/employees">Employees
                            <span class="sr-only">(current)</span></br>
                            <img src="images/icons/main_admin/employee.png" class="icon-height">
                        </a>
                    </td>
                    <td>
                        <a class="nav-link" href="/clients">Clients Information
                            <span class="sr-only">(current)</span></br>
                            <img src="images/icons/main_admin/client.png" class="icon-height">
                        </a>
                    </td>
                    <td>
                        <a class="nav-link" href="/products">Products Information
                            <span class="sr-only">(current)</span></br>
                            <img src="images/icons/main_admin/product.png" class="icon-height">
                        </a>
                    </td>
                    <td>
                        <a class="nav-link" href="/shop_information">Company Information
                            <span class="sr-only">(current)</span></br>
                            <img src="images/icons/main_admin/company.png" class="icon-height">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>