<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Addresses</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top shadow-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">uTech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/main_admin">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/addresses">Addresses
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/employees">Employees
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/clients">Clients Information
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/products">Products Information
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/shop_information">Company Information
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <form method="post" th:action="@{/index}">
                    <button class="btn btn-primary"  onclick="successfullyLogout()" value="Sign Out">Logout</button>
                </form>

            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 bg-light shadow p-5 border-2">
            <h1>Addresses</h1>
            <br/>
            <table class="table">
                <thead>
                <tr>
                    <th>ID ADRESU</th>
                    <th>MIASTO</th>
                    <th>KOD POCZTOWY</th>
                    <th>ULICA</th>
                    <th>NUMER DOMU</th>
                    <th>NUMER MIESZKANIA</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each = "address : ${address}">
                    <td th:text = "${address.ID_ADRESU}"></td>
                    <td th:text = "${address.MIASTO}"></td>
                    <td th:text = "${address.KOD_POCZTOWY}"></td>
                    <td th:text = "${address.ULICA}"></td>
                    <td th:text = "${address.NUMER_DOMU}"></td>
                    <td th:text = "${address.NUMER_MIESZKANIA}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>