<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Addresses</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}"/>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top shadow-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">uTech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/main_admin">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/addresses">Addresses
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/employees">Employees
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/clients">Clients Information
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/products">Products Information
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/shop_information">Company Information
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <form method="post" th:action="@{/index}">
                    <button class="btn btn-primary"  onclick="successfullyLogout()" value="Sign Out">Logout</button>
                </form>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-md-4 mt-5 bg-light border-2 shadow p-5 mb-5">
            <form method="post" th:action="@{/main_admin}">
                <div class="form-group">
                    <div><b><p style="font-size:30px">Error</p></b></div>
                    <div><p style="font-size:24px">Itegrity Error
                        This element is currently used in other element</p></div>
                </div>
                <button class="btn btn-primary" type="submit" value="Sign In">Back to home page</button>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>